<%= render(::Layouts::MainPageComponent.new(
  title: "Modifier une transaction",
  class_name: "text-center"
)) do |component|  %>
  <% component.body do %>
    <div class="w-full lg:w-7/12 mx-auto">
      <turbo-frame id="transaction-form" target="_top">
        <%= render partial: 'transactions/form', locals: { transaction: @transaction } %>
      </turbo-frame>
    </div>
  <% end %>
<% end %>
