<%= render(::Layouts::MainPageComponent.new(
  title: "Modifier l'Université",
  class_name: "text-center"
)) do |component|  %>
  <% component.body do %>
    <div class="w-full lg:w-7/12 mx-auto">
      <turbo-frame id="university-form" target="_top">
        <%= render partial: 'universities/edit_form', locals: { university: @university } %>
      </turbo-frame>
    </div>
  <% end %>
<% end %>
